body{
  background-color: whitesmoke;
}

.card-body{
  margin: 20px;
  color: #17a2b8;
  box-shadow: 3px 2px 30px #888888;
}

.deleteBtn{
  background-color: #ff4b5c;
  color: whitesmoke;
  font-weight: bold;
  box-shadow: 1px 1px 10px wheat inset;
}

.deleteBtn:hover{
  opacity: 0.8;
  color: whitesmoke;
}

.error-message {
  color: red;
  text-align: center;
  display: none;
}

.headerButton{
  color: whitesmoke;
  padding: 5px;
  border-radius: 10px;
}

.topHeader{
  background-color: #e6e6e6;
  margin-bottom: 2rem;
  color: #17a2b8;
  border-radius: 15px;
}

label{
  margin-left: 30%
}

.form-control{
  width: 40%;
  margin: auto;
}

.form-control:invalid:not(:focus):not(:placeholder-shown) {
  border: solid 2px #fe2c12;
}

.form-control:invalid:not(:empty)~p {
  display: block;
  color: #fe2c12;
  font-size: 15px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #cef;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #cef transparent transparent transparent;
}

.custom-card div:not(:last-child) {
  margin-right: 22px;
}

input[type='submit']:not(:disabled) {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
}

/* Loader CSS */

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}